{% extends 'base.html.twig' %}
{% block title %}Saison {{ season.number }} - {{ program.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Saison {{ season.number }} de {{ program.title }}</h1>
        <p>{{ season.description }}</p>

        <h2>Liste des épisodes</h2>
        {% for episode in episodes %}
            <div class="card">
                <div class="card-body">
                    <h3>Episode {{ episode.number }} - {{ episode.title }}</h3>
                    <p>{{ episode.synopsis }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
